{{#if addNewAnswer}}
<section class="">
  <h3>New Answer:</h3>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Name:</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="answer">Answer: </label>
        {{input type="answer" value=answer id="answer"}}
      </div>

      <button class="btn saveBtn" {{action 'saveAnswer'}}>Save</button>
    </form>
  </div>
</section>
{{else}}
<div class="container">
  <div class="answer text-center">
    <p class="text-center" {{action 'answerFormShow'}}> <em>Answer {{question.author}}</em></p>
  </div>
</div>
{{/if}}
