{{#if newQuestionForm}}
<h2> Add a New Question </h2>
  <form>
    <div class='form-group'>
      <label for='author'>Author:</label>
      {{input value=author id='author'}}<br>
      <label for='content'>Question:</label>
      {{textarea value=content id='content'}}<br>
      <label for='notes'>Notes:</label>
      {{input value=notes id='notes'}}
      <label for='category'>Category:</label>
      <!-- {{input value=category id='category'}} -->
      {{#x-select id='category'}}
        {{#x-option value="nature"}}Nature{{/x-option}}
        {{#x-option value='philosophy'}}Philosophy{{/x-option}}
      {{/x-select}}
    </div>
    <button class="btn saveQuestion" {{action 'saveQuestion'}}>Save</button>
  </form>
{{else}}
<button class="btn" {{action 'newQuestionForm'}}>Ask A Question</button>
{{/if}}
