
  <div class="details">
    <button class="btn del"{{action 'delete' question}}>Delete Question</button>
    {{edit-question question=question edit="edit"}}
    <h4>Author: <em>{{question.author}}</em></h4>
    <h3>Question: {{question.content}}</h3>
    <h4>Notes: {{question.notes}}.</h4>
  </div>


  {{#each question.answers as |answer|}}
  {{answer-tile answer=answer deleteAnswer="deleteAnswer"}}
  {{/each}}
