
  <div class="details">
    <button class="btn del"{{action 'delete' question}}>Delete Question</button>
    {{edit-question question=question edit="edit"}}
    <h4>Category: {{question.category}}</h4>
    <h4>Author: <em>{{question.author}}</em></h4>
    <h3>Question: {{question.content}}</h3>
    <h4>Notes: {{question.notes}}.</h4>
    <h4>Date Added: {{format-time queston.date_added}}</h4>
    <p><button {{action 'addToFavorites' question}}>Add to Favorites</button></p>
  </div>

  {{#each sortedAnswers as |answer|}}
    {{answer-tile answer=answer deleteAnswer="deleteAnswer"}}
  {{/each}}
