
<h2>More information about {{model.author}}'s {{model.content}}</h2>
{{edit-question question=model edit="edit"}}

{{question-details question=model destroyQuestion="destroyQuestion"}}
{{new-question saveQuestion="saveQuestion"}}
